﻿body   
{
    background: #b6b7bc;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #696969;
}
a:link, a:visited{color: #034af3;}
a:hover{color: #1d60ff;text-decoration: none;}
a:active{color: #034af3;}
/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin: 2px 0 0px 2px;
}
h1{font-size: 1.6em; padding-bottom: 0px; margin-bottom: 0px;}
h2{font-size: 1.5em;font-weight: 600;}
h3{font-size: 1.2em;}
h4{font-size: 1.1em;}
h5, h6{font-size: 1em;}

/* MISC  
----------------------------------------------------------*/
img { border:0px; }
small{font-size:.75em;}
select {margin:0;font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;font-size:9pt;border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;border:1px solid #CCC;}
input {margin:0;font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;font-size:9pt;padding:1px;border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;border:1px solid #CCC;}
textarea {margin:0;font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;font-size:9pt;border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px;border:1px solid #CCC;}
input[type=submit], input[type=button]{padding:4px 7px 4px 7px;}
.required{color:Red;font-size:8pt;}
.onTop{z-index:2001;position:absolute;}
.bold{font-weight:bold;}
.right{float:right;clear:right;}
.left{float:left;clear:left;}
.hidden{ display:none; }
.show{ display:block; }
.tRight{text-align:right;}
.tLeft{text-align:left;}
.tCenter{text-align:center;}
.clear{clear:both;}
.h100 {height:100%;}
.w100{ width:100%; }
.w70{ width:70%; }
.w50{ width:50%; }
.f7{ font-size:7pt; }
.f8{ font-size:8pt; }
.f9{ font-size:9pt; }
.f14{ font-size:14pt; }
.p3{ padding:3px; }
.p5{ padding:5px; }
.m3{ margin:3px; }
.m5{ margin:5px; }
.cDG { color:dimgray;}
.cWS { color:whitesmoke;}
.cSilver { color:silver;}
.cSB { color:steelblue;}
.cW { color:White;}
.cR { color:Red;}
.cG { color:Green;}
.bgBeige{ background-color:Beige; }
.bgWhite{ background-color:White; }
.bgGBoro{ background-color:Gainsboro; }
.bgWSmoke{ background-color:WhiteSmoke; }
.bgLGray{ background-color:#EEEEEE; }
.bgDGray{ background-color:DimGray; }
.bgLRed{ background-color:#FFCACA; }
.bgLGreen{ background-color:#F1FFE4; }
.crossOut{text-decoration:line-through;}
.posRel{position:relative;}
.posAbs{position:absolute;}
.posFix{position:fixed;}
.iBlock{display:inline-block;zoom:1;*display:inline;}
.inline{display:run-in;}
/*------------------------------------------------------*/