﻿.frameBody,iframe
{
    font-family:sans-serif;
    font-size:12px;
    margin:0;
    width:99%;
    height:400px;
    background-color:White;
    display:block;
    border:1px solid #CECECE;
    padding:2px;
}
.rte-zone
{
    width:700px;
    margin:0;
    padding:0;
    border:1px #999 solid;
    clear:both;
    height:700px;    
}
div.rte_toolbar{ background-color:#FAFAFA; clear:both; }
.rte_toolbar a, .rte_toolbar a img {        
        margin:0px 5px 0 0;
        padding:0 0px 0 0;
        float:left;
}
.rte_toolbar select {margin:0px 14px 0 0;padding:0 0px 0 0;float:left;}
.rte_toolbar iframe{background-color:White;}