﻿/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/
.page
{
    width: 1000px;    
    margin: 0px auto 0px auto;
    position:relative;
}
#nav
{
    position:fixed;
    top:25px;
    margin: 0px 0 15px 0;
    padding: 0px;
    background: transparent;
    width: 155px;
    z-index:100; 
       
}
#nav img{width:140px;opacity: 0.9;
      -webkit-transform-style: preserve-3d;
      -webkit-animation: spin 7s infinite linear;}
    
@-webkit-keyframes spin {
    from { -webkit-transform: rotateY(0); }
    to   { -webkit-transform: rotateY(360deg); }
}
.main
{
    position:relative; 
    background-color: #fff;
    padding: 0px 12px;
    margin: 15px 0 0 0;
    border: 1px solid #496077;    
    border-radius:15px 15px 15px 15px; -moz-border-radius:15px 15px 15px 15px; -webkit-border-radius:15px 15px 15px 15px;
    box-shadow:0 0 4px 4px #ccc; -moz-box-shadow:0 0 4px 4px #ccc; -webkit-box-shadow:0 0 4px 4px #ccc;     
}
#mainRight{float:right;width:800px;padding:2px 3px 2px 5px;clear:both; border:10px solid #465c71; margin:10px 0 0 0; min-height:500px;
           border-radius:15px 15px 15px 15px; -moz-border-radius:15px 15px 15px 15px; -webkit-border-radius:15px 15px 15px 15px;
           }

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}
#placeholder{width:775px;height:300px;clear:both;}
#notification{position:fixed;top:17px;margin:0 0 0 740px;z-index:101;background-color:beige;padding:12px;width:220px;display:none;border-radius:0px 0px 10px 10px; -moz-border-radius:0px 0px 10px 10px;-webkit-border-radius:0px 0px 10px 10px;box-shadow:0 0 3px 3px #ccc; -moz-box-shadow:0 0 3px 3px #ccc; -webkit-box-shadow:0 0 3px 3px #ccc; }
.uProg{width:20%;padding:5px;left:40%;top:30%;font-weight:bold;position:fixed;z-index:1001;background-color:LightYellow;border:3px solid SteelBlue;text-align:center; vertical-align:middle; font-family:Georgia;border-radius: 15px; -moz-border-radius: 15px;filter: alpha(opacity=90) !important; opacity: 0.9;-moz-box-shadow: 3px 3px 3px #ccc; -webkit-box-shadow: 3px 3px 3px #ccc; box-shadow: 3px 3px 3px #ccc;} 
.updateBG {position:fixed;top:0px;bottom:0px;left:0px;right:0px;overflow:hidden;padding:0;margin:0;background-color:WhiteSmoke;filter:alpha(opacity=40);opacity:0.40;z-index:1000;}
.StaticNotify{display:block;background-color:beige;padding:5px 10px 5px 10px;margin:7px 0 7px 0;border:1px solid silver; border-radius: 4px 4px 4px 4px; -moz-border-radius: 4px 4px 4px 4px; -webkit-border-radius: 4px 4px 4px 4px; list-style:none;}
.StaticError{display:block;background-color:#FFE8E8;padding:5px 10px 5px 10px;margin:7px 0 7px 0;border:1px solid red; border-radius: 4px 4px 4px 4px; -moz-border-radius: 4px 4px 4px 4px; -webkit-border-radius: 4px 4px 4px 4px; list-style:none;}
/* TAB MENU ----------------------------------------------------------*/
div.hideSkiplink{background-color:#3a4f63;width:100%;}
div.menu{padding: 4px 0px 4px 0px;display:block; }
div.menu ul{list-style: none;margin:0;padding:0px;width: auto;}
div.menu ul li{display:block; margin:0 0px 0 0; -moz-border-radius:5px; -webkit-border-radius:5px; margin:0 0 3px 0px;}
div.menu ul li a, div.menu ul li a:visited{background-color: #55708A;border: 1px #4e667d solid;width:84%;padding:4px 0px 4px 10px; color: #dde4ec; display: block;line-height: 1.35em;text-decoration: none;white-space: nowrap;border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
div.menu ul li a:hover{background-color: #bfcbd6;color: #465c71;text-decoration: none; }
div.menu ul li a.active{background-color: #465c71;color: #ffffff;text-decoration: none;width:90%; font-weight:bold;}

div.menu ul li ul {display:none;}
div.menu ul li ul li{ margin:0 0 0 10px; font-size:.93em;width:78%; border-top:1px dotted silver; border-left:1px dotted dimgray;background-color: #465c71;color: #cfdbe6; -moz-border-radius:3px; -webkit-border-radius:3px;border-radius:3px;}
div.menu ul li ul li a{ padding:1px 4px 3px 12px; font-size:.87em; background-color:transparent;}
div.menu ul li ul li a.active{color:#ffffff; font-weight:bold;}
/*modal content*/
#iSiteHist{width:20px; cursor:pointer;}
#simplemodal-overlay {background-color:#000;}/* Overlay */
/* Container */
#imodal{display:none;overflow:hidden;}
#imodal iframe{width:900px;height:300px;border:0 solid transparent;}
#simplemodal-container {color:#bbb; background-color:#333; border:4px solid silver; padding:12px; border-radius: 15px; -moz-border-radius: 15px; }
#simplemodal-container code {background:#141414; border-left:3px solid #65B43D; color:#bbb; display:block; margin-bottom:12px; padding:4px 6px 6px;}
#simplemodal-container a {color:#ddd;}
#simplemodal-container a.modalCloseImg {background:url(../images/mX.png) no-repeat; width:25px; height:25px; display:inline; z-index:3200; position:absolute; top:-20px; right:-10px; cursor:pointer;}
#simplemodal-container #basic-modal-content {padding:5px;}
/* end modal content */
/* start progressbar */
.pbWrap{position: relative;border:1px solid silver;background-color:WhiteSmoke;border-radius: 3px; -moz-border-radius: 3px; text-align:left;padding:0;}
.pbValue {height:15px;border-radius: 3px; -moz-border-radius: 3px;margin:0;} 
.pbText {margin:2px 0 0 2px;font-size:.8em;font-weight:bold;position: absolute;color: black;text-align: center;width:100%;}
/* end progressbar */
/* Start Home.css */
div.moduleBox{width:378px;margin:10px 8px 7px 8px; vertical-align:top; border:2px solid whitesmoke;  border-radius:10px 10px 10px 10px; -moz-border-radius:10px 10px 10px 10px; -webkit-border-radius:10px 10px 10px 10px;}
div.moduleBox h3{margin:0; padding:2px 2px 2px 5px; background-color:AliceBlue; font-weight:bold;cursor:pointer;}
div.moduleBox a{}
div.moduleBox ul{margin:0; padding:0 0 0 10px;}
div.moduleBox ul li {margin:0;padding:3px 0 0 5px;list-style-type:none;border-bottom:1px solid whitesmoke;clear:both;}
div.moduleBox ul li:hover {background-color:#ffffee;}
div.moduleBox ul li label{width:260px; display:inline-block;}
table { width:100%; padding:0; margin:0;}
table tr {margin:0;padding:3px 0 0 5px;list-style-type:none;clear:both; cursor:default;}
table tr:hover {background-color:#ffffee;}
table tr th {color:silver; font-size:.9em; padding:0; margin:0;}
table tr th span {cursor:pointer;}
table tr th a {font-size:.8em;}
table tr td {border-top:1px solid gainsboro;border-right:1px solid whitesmoke; padding:0; margin:0; text-align:center;}
table tr td input[type=text]{width:36px; text-align:center;}
div.legend table {width:auto;}
div#search {padding:3px; border-bottom:1px solid silver; margin:0 0 5px 0;}
div#search input[type=text]{width:100px;}
div#search input[type=submit]{float:right;margin:10px;clear:both; display:block;}

/* End Home.css */
.rq{background: #f8dbdb;border-color: #e77776; }
/* Start Forms.css */
ul.detail{clear:both;}
ul.detail li{ list-style-type:none;border-bottom:1px solid silver; margin:5px 5px 5px 5px; vertical-align:middle;}
ul.detail li:hover{background-color:whitesmoke;}
ul.detail {margin:20px;}
ul.detail span{display:inline-block;width:140px;}
ul.detail div{display:inline-block;width:160px;padding:0 0px 0 4px;border-left:1px solid #CCC;zoom:1;*display:inline;}
ul.detail input[type=text]{display:inline-block;width:175px;padding:0 0px 0 4px;border-left:1px solid #CCC; padding:5px 3px 5px 3px;}
ul.detail textarea{display:inline-block;width:60%; height:45px; padding:0 0px 0 4px;border-left:1px solid #CCC; padding:3px 1px 3px 1px;}
ul.detail table tr td {text-align:left; padding:2px 2px 2px 2px;}
ul.detail table#cblRoles tr td input[type=checkbox]{margin:0 5px 0 150px;}

ul.detail textarea#tException{height:250px;width:75%;}
ul.detail textarea#tBody{height:400px; width:98%;display:block;}
ul.detail textarea.large{height:300px; width:98%;}
ul.detail li ul li input[type=text]{width:36px; text-align:center;}
ul.detail li ul li img{margin:8px 5px 0 0;}
/* End Forms.css */

/* Start Tabs */
.etabs { margin: 0; padding: 0; }
.tab { display: inline-block; zoom:1; *display:inline; background: #eee; border: solid 1px #999; border-bottom: none; -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; }
.tab a { font-size: 14px; line-height: 2em; display: block; padding: 0px 7px 0px 7px; outline: none; text-decoration:none; }
.tab a:hover { text-decoration: underline; }
.tab.active { background: #fff; padding-top: 4px; position: relative; top: 1px; border-color: #666; }
.tab a.active { font-weight: bold; }
.tab-container .panel-container { background: #fff; border: solid #666 1px; padding:1px 5px 5px 5px; -moz-border-radius: 0 4px 4px 4px; -webkit-border-radius: 0 4px 4px 4px; }
/* End Tabs */

ul.detail table#tSysAlertSource { width:450px; border:0; display:inline-block; margin:2px 0 0 5px;}
ul.detail table#tSysAlertSource tr{ vertical-align:middle;}
ul.detail table#tSysAlertSource tr td{ text-align:right;padding:0 20px 0 40px;}
ul.detail table#tSysAlertSource tr td input[type=checkbox]{margin:1px;padding:0;}

/* Start Reporting */
#dReporting{}
#dReporting div.item{position:relative;float:left;width:235px;margin:10px 10px 10px 10px; background-color:whitesmoke; padding:4px 4px 4px 4px;border: 1px solid #666;border-radius: 0 4px 4px 4px; -moz-border-radius: 0 4px 4px 4px -webkit-border-radius: 0 4px 4px 4px;}
#dReporting div:hover{border-color:SteelBlue;background-color:aliceblue;}
#dReporting div img {margin:0 5px 0 0;width:100px;}
#dReporting div.item div.options {position:absolute;bottom:4px;right:10px;}
input.run{background:#FFFFFF url(../images/run-arrow.png) no-repeat 15% 50%;padding:5px 5px 5px 22px;cursor:pointer;}
input.email{background:#FFFFFF url(../images/email-icon.jpg) no-repeat 15% 50%;padding:5px 5px 5px 27px;cursor:pointer;}
input.run:hover{background-color:lightgreen;}input.email:hover{background-color:rgb(197, 213, 253);}
/* End Reporting*/