﻿<%@ Control Language="C#" AutoEventWireup="false" ClientIDMode="Static" EnableViewState="false" %>
<asp:UpdateProgress runat=server ID="uProg" DisplayAfter="0" ClientIDMode=Static EnableViewState=false>
<ProgressTemplate><div class="updateBG"></div><div class="uProg">Loading...Please Wait<br /><img src="images/ajaxLoader.gif" /></div></ProgressTemplate>
</asp:UpdateProgress>
