﻿<%@ Control Language="C#" AutoEventWireup="false" ClientIDMode="Static" EnableViewState="false" %>
<div>
    <p class="graphControls left">
        &nbsp;<select id="ddData"><option>Year</option>
            <option>Month</option>
            <option selected="selected">Week</option>
            <option>Day</option>
        </select>
        <input type="button" value="Bars" />
        <input type="button" value="Lines" />
        <input type="checkbox" id="isStacked" checked="checked" />
        Stacked?
        <input type="checkbox" id="isFilled" />
        Filled?
    </p>
    <p id="choices" class="right"></p>
    <div id="placeholder">
        <p class="tCenter">
            <br />
            <br />
            Loading...Please Wait<br />
            <img src="images/ajaxLoader.gif" /></p>
    </div>
</div>
