﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ucMenu.ascx.cs" Inherits="QuickLaunch.WebAdmin2014.controls.ucMenu" %>
<div class="menu">
<ul>
    <li><a href="<%=Page.ResolveUrl("~/default.aspx") %>">Home</a></li>
    <asp:Literal runat="server" ID="litList" />
</ul>
</div> 
