﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="QuickLaunch.WebAdmin2014.SiteMaster" %>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head runat="server">
    <title>TITO Web Admin</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />    
    <meta name="robots" content="noindex" />
    <link href="css/Core.css" rel="stylesheet" type="text/css" />
    <link href="css/Site.css" rel="stylesheet" type="text/css" />
    <link href="css/ui-lightness/jquery-ui-1.8.14.custom.css" rel="stylesheet" type="text/css" />  
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
<form runat="server" id="f1"><asp:ScriptManager runat=server ID="sm" ScriptMode=Release EnableCdn=true LoadScriptsBeforeUI=false  /><uc:Progress runat=server id="ucProg" />
<div class="page">
    <div class="main">
        <div id="nav"><img src="images/baptistLogo.jpg" />
        <uc:Menu runat=server ID="ucMenu" EnableViewState=false ClientIDMode=Static />        
        </div>
        <div id="mainRight" class="hidden">
        <asp:ContentPlaceHolder ID="body" runat="server"/>
        </div><noscript><h2 class="tCenter">You must have JavaScript enabled in order to use this website</h2><br /></noscript>
    <div class="clear">&nbsp;</div>
    </div>
    <div id="notification"></div>
</div>
<div class="footer"></div>
<div id="imodal"><iframe></iframe></div>
<%--<script src="js/jquery-1.8.1.min.js" type="text/javascript"></script>--%>
<script src="http://code.jquery.com/jquery-1.9.1.min.js" type="text/javascript"></script>
<%--<script src="js/jquery-ui-1.8.14.datepicker.min.js" type="text/javascript"></script>--%>
<%--<script src="js/SimpleModal.js" type="text/javascript"></script>--%>
<%--<script src="js/JSON.js" type="text/javascript"></script>--%>
<%--<script src="js/flot/excanvas.min.js" type="text/javascript"></script>--%>
<script src="js/Site.js" type="text/javascript"></script> 
<script type="text/javascript">
    $(function () {
        setTimeout(function () { async_load('js/SimpleModal.js'); async_load('js/tooltip.js'); async_load('js/jquery-ui-1.8.14.datepicker.min.js'); async_load('js/JSON.js'); if (!$.support.opacity){async_load('js/flot/excanvas.min.js');} }, 1);
        $("#mainRight").fadeIn();
        $("a[href*='<%=System.IO.Path.GetFileName(Request.Path).Contains(".aspx") ? System.IO.Path.GetFileName(Request.Path).ToLower() : "default.aspx"%>']").addClass("active");
        $("a[href*='<%=System.IO.Path.GetFileName(Request.Path).Contains(".aspx") ? System.IO.Path.GetFileName(Request.Path).ToLower() : "default.aspx"%>']").parent().parents("li").find("a").addClass("active");       
        $("a.active").parent().find("ul").slideDown();        
    });
</script>
<asp:ContentPlaceHolder ID="js" runat="server">
</asp:ContentPlaceHolder>
</form>
</body>
</html>